@page "/"
@rendermode InteractiveServer 
@inject IDataService data
@inject NavigationManager navigate 
@attribute [Authorize]

<PageTitle>Создание заявки</PageTitle>

<h1>Создание заявки на клининг</h1>

<div class="container">
    @if (requests == null)
    {
        <tr>
            <td colspan="5">Loading...</td>
        </tr>
    }
    else
    {
        <div class="btn-group m-2">
            <button class="btn btn-primary" @onclick="AddRequest">Новая заявка</button>
        </div>
        <div class="card-group">
            @foreach (var request in requests)
            {
                <div class="card">
                    <div class="card-header">
                        @request.FullName
                    </div>
                    <div class="card-body">
                        <p>@request.PhoneNumber</p>
                        <p>@request.OfficeAddress</p>
                        <p>@request.Room</p>
                        @* <p>@request.Services</p> *@
                        @* <p>@string.Join(", ", request.Services)</p> *@
                        <p>@request.RequestedDateTime?.ToString("g")</p>
                        <p>@request.Comment</p>
                        <p>@request.CreatedDate.ToString("g")</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary" href="employees/@request.Id">Изменить</a>
                        <button class="btn btn-primary" @onclick="async () => await DeleteRequest(request.Id)">Удалить</button>
                    </div>
                </div>
            }
        </div>
    }
</div>

@* @if (requests == null)
{
    <tr>
        <td colspan="5">Loading...</td>
    </tr>
}
else
{
    @foreach (var request in requests)
    {
        <div class="p-3 mb-3 border rounded">
            <p><strong>ФИО:</strong> @request.FullName</p>
            <p><strong>Телефон:</strong> @request.PhoneNumber</p>
            <p><strong>Офис:</strong> @request.OfficeAddress</p>
            <p><strong>Кабинет:</strong> @request.Room</p> *@


            @* <p><strong>Кабинет:</strong> @request.Services</p> *@
            @* <p><strong>Услуги:</strong> @string.Join(", ", request.Services)</p> *@


@*             <p><strong>Дата и время:</strong> @request.RequestedDateTime?.ToString("g")</p>
            <p><strong>Комментарий:</strong> @request.Comment</p>
            <p><strong>Создано:</strong> @request.CreatedDate.ToString("g")</p>
        </div>
    }
} *@

@code {
    IEnumerable<RequestItem>? requests;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        requests = await data.GetAllAsync();
    }

    void AddRequest()
    {
        navigate.NavigateTo("requests/add");
    }

    async Task DeleteRequest(int id)
    {
        await data.DeleteAsync(id);
        requests = await data.GetAllAsync();
    }
}